# Python
__pycache__/
*.pyc

# Virtual env
venv/

# Jupyter
.ipynb_checkpoints/

# Data that should not go to GitHub (optional)
Data/Raw/*
*.log

# OS / editor files
.DS_Store
Thumbs.db

# Environment / secrets
.env
